@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.css);

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  
}
a {
  text-decoration: none;
  color: #666666;
}

.main{
  position: relative;
  height: 100vh;
}

.header {
  height: 184px;
  width: 100%;
  background-image: url(/imgs/abou-us-header-bg.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-clip: border-box;
  z-index: 1;
}

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #fff;
  display: flex;
  height: 60px;
  justify-content: space-between;
  background-clip: border-box;
  box-sizing: border-box;
  padding: 0px 104px 0px 104px;
  align-items: center;
}

.logo {
  font-family: Righteous;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 1.5%;
  text-transform: uppercase;
  color: #2a367c;
}

.tab-list {
  display: flex;
  list-style: none;
  gap: 4px;
}

.tab-list li {
  padding: 20px 16px 20px 16px;
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  letter-spacing: 1.5%;
  text-transform: uppercase;
  
}

.tab-about-us {
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;
}

.tab-about-us a {
  color: #3746a0 !important;
}

.tab-home:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-home:hover a{
color: #3746a0 !important;
}
.tab-about-us:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-about-us:hover a{
color: #3746a0 !important;
}
.tab-our-products:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-our-products:hover a{
color: #3746a0 !important;
}
.tab-news:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-news:hover a{
color: #3746a0 !important;
}
.tab-our-team:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-our-products:hover a{
color: #3746a0 !important;
}
.tab-contact:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-contact:hover a{
color: #3746a0 !important;
}
.tab-blogs:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-blogs:hover a{
color: #3746a0 !important;
}
/*end header */

  .content-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 104px;
    
  }

  .content-container{
    position: relative;
    width: auto;
height: 712px;
z-index: -1;
  }

  .photo-box{
    position: relative;
    width: 584px;
  height: 583px;
  }

.img-1{
  position: absolute;
  width: 584px;
height: 332px;
border-radius: 24px;
top: 0px;
left: 0px;
right: 0px;
}

.img-2{
  position: absolute;
  width: 280px;
height: 227px;
border-radius: 24px;
bottom: 0px;
}
.img-3{
  position: absolute;
  width: 280px;
height: 227px;
border-radius: 24px;
right: 0px;
bottom: 0px;
}

.img-4{
  position: absolute;
  width: 121px;
  height: 121px;
top: 271px;
left: -60px;
}

.content-wrapper{
  width: 50%;
height: 100%;
  box-shadow: 0px 0px 40px 0px #0000003b;
  border-radius: 24px 0px 0px 24px;
}

.content-box{
  width: 496px;
height: 504px;


  padding: 60px 104px 60px 104px;
  position: relative;
}

.content-box h1{
  
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 48px;
line-height: 150%;
letter-spacing: 1%;
color: #2A367C;
}

.content-box h2 {
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 32px;
line-height: 150%;
letter-spacing: 1%;
color: #666666;
}

.content-box p{
  font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 150%;
letter-spacing: 1%;
color: #666666;
margin-top: 16px;
}

.content-box button{
  position: absolute;
  width: 141px;
height: 48px;
  bottom: 0px;
  border-radius: 100px;
  background-color: #4D63E2;
  border: none;
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 150%;
letter-spacing: 1.5%;
vertical-align: middle;
color: #fff;
}