@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.css);

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #666666;
}

/* header */
.header {
  height: 380px;
  width: 100%;
  background-image: url(/imgs/blogs-bg.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-clip: border-box;
}

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #fff;
  display: flex;
  height: 60px;
  justify-content: space-between;
  background-clip: border-box;
  box-sizing: border-box;
  padding: 0px 104px 0px 104px;
  align-items: center;
  z-index: 1;
}

.logo {
  font-family: Righteous;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 1.5%;
  text-transform: uppercase;
  color: #2a367c !important;
}

.tab-list {
  display: flex;
  list-style: none;
  gap: 4px;
}

.tab-list li {
  padding: 20px 16px 20px 16px;
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  letter-spacing: 1.5%;
  text-transform: uppercase;
  
}

.tab-blogs {
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;
}

.tab-blogs a {
  color: #3746a0 !important;
}

.tab-home:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-home:hover a{
color: #3746a0 !important;
}
.tab-about-us:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-about-us:hover a{
color: #3746a0 !important;
}
.tab-our-products:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-our-products:hover a{
color: #3746a0 !important;
}
.tab-news:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-news:hover a{
color: #3746a0 !important;
}
.tab-our-team:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-our-team:hover a{
color: #3746a0 !important;
}
.tab-contact:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-contact:hover a{
color: #3746a0 !important;
}
.tab-blogs:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-blogs:hover a{
color: #3746a0 !important;
}


/* end header */

/* main content */

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-header{
    width: 100%;
    height: 156px;
    display: flex;
    flex-direction: column;
position: relative;
z-index: -1;
background: linear-gradient(90deg, #FDFBFB 0%, #EBEDEE 100%);
overflow: hidden;
}

.main-title-wrapper{
    position: relative;
    height: 72px;
width: 100%;
margin-top: 12px;
}

.main-title{
    position: relative;
    width: fit-content;
display: flex;
margin: 0 auto;
align-items: center;
   
}

.main-title img{
    position: absolute;
    left: -30px;
 
}

.main-title h1{
    position: relative;
 font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 48px;
line-height: 150%;
letter-spacing: 1%;
text-align: center;
color: #2A367C;
z-index: 1;
}

.main-title-wrapper p{
    font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 150%;
letter-spacing: 1%;
text-align: center;

color: #666666;
margin-top: 12px;
}

.hd-item-1{
    width: fit-content;
    position: absolute;
    top: 0px;
    right: 36px;
}
.hd-item-2{
    width: fit-content;
    position: absolute;
    top: 108px;
    right: 77px;
}
.hd-item-3{
    position: absolute;
    width: fit-content;
left: 68px;
bottom: 0px;
}



.header-card-container{
  display: flex;
  height: 316px;
  width: calc(100% - 208px);
  box-sizing: border-box;
  margin-top: 60px;
  justify-content: space-between;
  padding: 16px;
  border-radius: 24px;
  border: 2px solid #EBEBEB
}

.header-card-container-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  width: calc(55% - 24px);
  height: calc(100% - 12px);
  padding: 32px;
}

.header-card-container-content h2{
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 28px;
line-height: 150%;
letter-spacing: 1%;
color: #3B3B3B;
}

.header-card-container-content p{
  max-width: 540px;
  font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 150%;
letter-spacing: 1%;
color: #666666;
}

.header-card-container-content a{
    display: inline-block;
 width: 123px !important;
 height: 48px !important;
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 48px;
letter-spacing: 1.5%;
vertical-align: middle;
background-color: #4D63E2;
color: #fff;
text-align: center;
border-radius: 100px;
}

.header-card-container img{
  width: 45%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.category-tabs{
    width: calc(100% - 208px);
    height: fit-content;
    align-self: left;
    margin-top: 60px;
}

.category-tabs button{
    height: 48px;
    margin-right: 16px;
padding: 12px 16px 12px 16px;
    font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 150%;
letter-spacing: 1%;
border-radius: 100px;
background-color: transparent;
border: 1px solid #666666;
color: #3B3B3B;
}

.category-tabs-selected{
    background-color: #3B3B3B !important;
    color: #FFFFFF !important;
}

.card-container{
  display: flex;
  padding-left: 104px;
  padding-right: 104px;
  flex-wrap: wrap;
width: 100%;
justify-content: space-between;
margin-top: 44px;
}

.small-card{
  display: flex;
  flex-direction: column;
width: 390px;
height: auto;
margin-bottom: 44px;
border: 2px solid #EBEBEB;
border-radius: 24px;
}

.small-card img{
  width: 100%;
  height: 276px;
  object-fit: cover;
  border-radius: 24px 24px 0px 0px;
}

.card-content{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 16px 16px 4px 16px;
    border-radius: 12px;
    background-color: #fff;
    gap: 12px;
    bottom: 12px;
    z-index: 0;
}

.tag{
    width: fit-content;
    height: fit-content;
padding-top: 4px;
padding-right: 8px;
padding-bottom: 4px;
padding-left: 8px;
border-radius: 40px;
font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 12px;
line-height: 150%;
letter-spacing: 1.5%;
background-color: #EBEBEB;
}

.card-content h2{
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 150%;
letter-spacing: 1%;

}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.card-footer p{
    font-family: Roboto;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 150%;
letter-spacing: 1%;
color: #B0B0B0;
}

.card-footer a{
    display: flex;
    width: fit-content;
    height: fit-content;
 
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 150%;
letter-spacing: 1.5%;
color: #4D63E2;

}

.card-footer a i{
    display: flex;
    justify-content: center;
    align-items: center;
  width: 24px;
  height: 24px;
  font-size: 12px;
}

.pagination{
    width: 100%;
  display: flex;
  justify-content: right;
  box-sizing: border-box;
  padding-right: 104px;
  padding-left: 104px;
  margin-top: 16px;
  margin-bottom: 60px;
}

.back{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border-radius: 4px;
  background-color: #B0B0B0;
}

.back i{
  color: #FCFCFC;
}

.number-page-selection{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border-radius: 4px;
  border: 2px solid #3746A0;
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 150%;
letter-spacing: 1.5%;
text-align: center;
color: #3746A0;
}

.number-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border-radius: 4px;
  border: 1.5px solid #EBEBEB;
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 150%;
letter-spacing: 1.5%;
text-align: center;
color: #3B3B3B;
}

.forward{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border-radius: 4px;
  border: 1.5px solid #EBEBEB;
}

.forward i{
  color: #B0B0B0;
}



/* end main content */

/* FOOTER */

.footer-section {
  width: 100%;
}

.footer-container {
  background: #3746a0;
  padding-left: 104px;
  padding-right: 104px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.footer-logo {
   font-family: Righteous;
font-weight: 400;
font-style: Regular;
font-size: 32px;
line-height: 150%;
letter-spacing: 1.5%;
text-transform: uppercase;
  color: white;
}

.social-logo .social-list {
  display: flex;
  gap: 8px;
  list-style: none;
}

.social-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.social-list li.youtube a i {
  color: #FF0000;
  font-size: 22px;
}

.social-list li.linkedin a i {
  color: #0077B5;
  font-size: 22px;
}

.social-list li.twitter a i {
  color: #1DA1F2;
  font-size: 22px;
}

.footer-content {
  margin-bottom: 40px;
}

.office-info-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.main-office .title,
.brand-office .title {
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 150%;
letter-spacing: 1%;
  color: white;
  margin-bottom: 24px;
}

.office-content {
  display: flex;
  gap: 20px;
}

.bullet {
  width: 16px;
  height: 16px;
  background-color: #202A5F;
  margin-top: 5px;
}

.office-info {
  flex: 1;
}

.info {
  display: flex;
align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.6;
}

.info-sdt{
display: flex;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.6;
}

.info i {
  color: white;
  font-size: 14px;
}

.info-sdt i{
    color: white;
  font-size: 14px;
  margin-top: 4px;
}

.info-label {
  font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 150%;
letter-spacing: 1.5%;
color: #EBEBEB;
}

.info-content {
  color: #EBEBEB;
}

.brand-office-content {
  display: flex;
  gap: 40px;
}

.line {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 40px 0;
}

.more-info-container {
  display: flex;
  gap: 127px;
  padding-bottom: 40px;
}

.our-products .title,
.company .title {
  font-size: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

.our-products ul,
.company ul {
  list-style: none;
}

.our-products ul li,
.company ul li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  font-size: 16px;
  color: #C8CFF6;
  
}

.our-products ul li i,
.company ul li i {
  font-size: 10px;
  color: #C8CFF6;
}

.copyright {
  background-color: rgba(255, 255, 255,) !important;
  text-align: center;
  padding: 12px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.9);
}
/* end footer */