@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.css);

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #666666;
}

/* header */
.header {
  height: 400px;
  width: 100%;
  background-image: url(/imgs/contact-bg.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  background-clip: border-box;
  z-index: 1;
}

.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  background-clip: border-box;
  box-sizing: border-box;
  padding: 0px 104px 0px 104px;
  align-items: center;
  z-index: 1;
}

.logo {
  font-family: Righteous;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 1.5%;
  text-transform: uppercase;
  color: #2a367c;
}

.tab-list {
  display: flex;
  list-style: none;
  gap: 4px;
}

.tab-list li {
  padding: 30px 16px 30px 16px;
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  letter-spacing: 1.5%;
  text-transform: uppercase;
}

.tab-contact {
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;
}

.tab-contact a {
  color: #3746a0 !important;
}

.tab-home:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-home:hover a{
color: #3746a0 !important;
}
.tab-about-us:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-about-us:hover a{
color: #3746a0 !important;
}
.tab-our-products:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-our-products:hover a{
color: #3746a0 !important;
}
.tab-news:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-news:hover a{
color: #3746a0 !important;
}
.tab-our-team:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-our-team:hover a{
color: #3746a0 !important;
}
.tab-contact:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-contact:hover a{
color: #3746a0 !important;
}
.tab-blogs:hover{
  border-bottom: 4px solid #3746a0;
  background-clip: border-box;

}

.tab-blogs:hover a{
color: #3746a0 !important;
}


/* end header */

/* main content */

.main-content{
  height: fit-content;
  width: 1442px;
  padding-right: 104px;
  padding-left: 104px;
  margin-top: 60px !important;
  margin: 0 auto;
}

.form-box{
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 100px;
  
  margin-top: 60px !important;
  margin: 0 auto;
}

.contact-us-wrapper{
  width: 567px;
  height: auto;
  padding: 64px 64px 114px 64px;
  box-shadow: 0px 0px 40px 0px #00000014;
border-radius: 24px;
}

.contact-us-wrapper h1{
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 48px;
line-height: 150%;
letter-spacing: 1%;
color: #2A367C;

}

.contact-us-wrapper h2{
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 32px;
color: #666666;
line-height: 150%;
letter-spacing: 1%;
}

.input-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.input-group label{
  font-family: Roboto;
font-weight: 600;
font-style: SemiBold;
font-size: 18px;
color: #3B3B3B;
line-height: 150%;
letter-spacing: 1%;
margin-bottom: 12px;
}

.input-group label span{
  font-family: Roboto;
font-weight: 600;
font-style: SemiBold;
font-size: 18px;
line-height: 150%;
letter-spacing: 1%;
color: #F04438;
margin-left: 4px;
}

.input-group input{
  width: 100%;
  height: 56px;
  padding: 16px;
  font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 150%;
letter-spacing: 1%;
color: #666666;
border-radius: 4px;
border: 1px solid #B0B0B0;
}

.contact-us-wrapper button{
  height: 48px;
  width: 181px;
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 150%;
letter-spacing: 1.5%;
vertical-align: middle;
background-color: #4D63E2;
border: none;
border-radius: 100px;
color: #FFFFFF;
margin-top: 32px;
}

.info-section{
  width: 567px;
  height: auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.m-main-office .m-title
 {
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 28px;
line-height: 150%;
letter-spacing: 1%;
color: #3746A0;
padding-left: 48px;
margin-bottom: 24px;
}

.m-brand-office .m-title{
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 28px;
line-height: 150%;
letter-spacing: 1%;
color: #3746A0;
padding-left: 48px;
margin-top: 12px;
margin-bottom: 24px;
}

.m-office-content {
  position: relative;
  padding-left: 48px;
  z-index: -1;
  margin-bottom: 48px;
}

.m-bullet {
position: absolute;
top: 0px;
left: 0px;
  width: 24px;
  height: 24px;
  background-color: #8896EC;
}

.m-info {
  display: flex;
align-items: center;
gap: 10px;
  font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 150%;
letter-spacing: 1%;
color: #3B3B3B;
margin-bottom: 12px;
}

.m-info-sdt{
display: flex;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.6;
  color: #3B3B3B;
}

.m-info i {
  color: #3B3B3B;
  font-size: 16px;
}

.m-info-sdt i{
    color: #3B3B3B;
  font-size: 16px;
  margin-top: 4px;
}

.m-info-label {
  font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 150%;
letter-spacing: 1.5%;
color: #3B3B3B;
}

.map-container{
  margin-top: 84px;
  margin-bottom: 60px;
}

.map-container h2{
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 28px;
color: #3746A0;
line-height: 150%;
letter-spacing: 1%;
margin-bottom: 40px;
}

.map-container iframe{
  width: 100%;
  height: 520px;
  object-fit: cover;
}

/* end main content */

/* FOOTER */

.footer-section {
  width: 100%;
}

.footer-container {
  background: #3746a0;
  padding-left: 104px;
  padding-right: 104px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.footer-logo {
   font-family: Righteous;
font-weight: 400;
font-style: Regular;
font-size: 32px;
line-height: 150%;
letter-spacing: 1.5%;
text-transform: uppercase;
  color: white;
}

.social-logo .social-list {
  display: flex;
  gap: 8px;
  list-style: none;
}

.social-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.social-list li.youtube a i {
  color: #FF0000;
  font-size: 22px;
}

.social-list li.linkedin a i {
  color: #0077B5;
  font-size: 22px;
}

.social-list li.twitter a i {
  color: #1DA1F2;
  font-size: 22px;
}

.footer-content {
  margin-bottom: 40px;
}

.office-info-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.main-office .title,
.brand-office .title {
  font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 150%;
letter-spacing: 1%;
  color: white;
  margin-bottom: 24px;
}

.office-content {
  display: flex;
  gap: 20px;
}

.bullet {
  width: 16px;
  height: 16px;
  background-color: #202A5F;
  margin-top: 5px;
}

.office-info {
  flex: 1;
}

.info {
  display: flex;
align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.6;
}

.info-sdt{
display: flex;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.6;
}

.info i {
  color: white;
  font-size: 14px;
}

.info-sdt i{
    color: white;
  font-size: 14px;
  margin-top: 4px;
}

.info-label {
  font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 150%;
letter-spacing: 1.5%;
color: #EBEBEB;
}

.info-content {
  color: #EBEBEB;
}

.brand-office-content {
  display: flex;
  gap: 40px;
}

.line {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 40px 0;
}

.more-info-container {
  display: flex;
  gap: 127px;
  padding-bottom: 40px;
}

.our-products .title,
.company .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

.our-products ul,
.company ul {
  list-style: none;
}

.our-products ul li,
.company ul li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  font-size: 16px;
  color: #C8CFF6;
  
}

.our-products ul li i,
.company ul li i {
  font-size: 10px;
  color: #C8CFF6;
}

.copyright {
  background-color: rgba(255, 255, 255,) !important;
  text-align: center;
  padding: 12px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.9);
}
/* end footer */